@{
    ViewData["Title"] = "Home Page";
}
@model BookViewModel

<div class="text-center">
    <h2>Titles available for purchase:</h2>
    <br />
    <div class="text-left">
        @foreach (Book b in Model.Books)
        {
            <partial name="BookSummary" model="b" />
        }
    </div>
</div>

<div class="container">
    <h5 style="color: darkslateblue;">Pages</h5>
    <div style="flex" page-blah="@Model.PageInfo" page-action="Index" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-enabled="true"
         page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
</div>